body {
 background-image: url("hatter.jpg");
  background-color: coral;
font-size:50px;
color:blue;
font-family:sans-serif;
}
h1 {
font-family:sans-serif;
text-align: center;
font size : 200%;
color: green;
}
p.para{
font-size:25px;
font-family:sans-serif;
color:white;
width : 30%;
text-align: center;
margin-top: 5%;
margin-left: auto;
margin-right: auto;

}
.imagec
{
width: 25%;
margin-left:73%;
position: absolute;
top: 30%;

}
.imagec1
{
width: 30%;
margin-left:1%;
position: absolute;
top: 30%;
}
.btn {
font-family:sans-serif;
float:bottom;
border: 1px solid #000000;
background-color: white;
padding: 10px 20px;
font-size: 20px;
color: #3e8c32;
cursor: pointer;
transition : 0.8s;
position:relative;
top:50px;

overflow: hidden;
}

.btn:hover{
color:white;
}


